/* !!!!!!!!!!Mobile & tablet!!!!!!! */
@media (max-width: 767.98px) {
    .nav-item .nav-link {
        width: fit-content;
    }

    .navbar-collapse .navbar-nav:nth-child(1) .nav-link::after,
    .navbar-collapse .navbar-nav:nth-child(1) .nav-link.active {
        bottom: 0;
    }

    header .filter-bar select {
        margin: auto !important;
    }
}

/* !!!!!!!!!!!!Mobile!!!!!!!!!!!!! */
@media (max-width: 575.98px) {}